/* --------------------- Configs --------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --dark: #343a40;
  --black: #000;
  --blue: #63c3f3;
  --white: #fff;
  --red: #df4b4b;
}

/*
10px is equivalent to 0.625rem which can be change to 62.5% for font-size
*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
    position: relative;
  font-family: "Poppins", sans-serif;
  color: var(--dark);
  font-weight: 500;
  line-height: 1.6;
}

.section {
  padding: 5rem 0;
}

/* --------------------- Flexible Container --------------------- */

/*
0 - 600px: phone
600 - 900px: tablet portrait
900 - 1200px: tablet landscape
*/

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* --------------------- Buttons --------------------- */
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3.5rem;
  display: inline-block;
  transition: all 0.5s;
  position: relative;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: var(--blue);
  color: var(--white);
}

.btn-link {
  color: var(--black);
}

.btn-link:hover {
  box-shadow: none;
  text-decoration: underline;
  transform: none;
}

/* --------------------- Preloader --------------------- */
.preloader {
	background-color: rgba(0,0,0, 0.9);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 99999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.preloader-icon {
    background-image: url(../images/preloader.svg);
    background-size: contain;
    height: 40px;
    width: 40px;
}

/* --------------------- Navbar --------------------- */
.nav {
  background-color: var(--white);
  padding: 1rem 0;
  box-shadow: 0 0 1rem rgba(104, 103, 103, 0.2);
}

.nav__logo {
  text-decoration: none;
  color: var(--black);
  font-size: 1.8rem;
  text-transform: uppercase;
}

.nav__logo i {
  font-size: 2rem;
  margin-right: 0.2rem;
}

/* --------------------- Error --------------------- */
#error {
  text-align: center;
  font-size: 2rem;
  color: var(--red);
}

#error p {
  display: block;
  margin: 120px auto;
}

/* --------------------- Users --------------------- */
#users {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  grid-gap: 3rem;
  justify-content: center;
}

.user {
  padding: 3rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(187, 186, 186, 0.4);
  transition: all 0.5s;
}

.user:hover {
  box-shadow: 0 0 1rem rgba(187, 186, 186, 0.7);
}

.user__icon {
  display: block;
  font-size: 4rem;
  color: var(--dark);
  height: 8rem;
  width: 8rem;
  line-height: 8rem;
  border: 2px solid var(--dark);
  border-radius: 50%;
  margin: 0 auto;
}

.user__details {
  margin: 1.8rem 0;
}

.user__details span {
  display: block;
  font-size: 1.5rem;
  white-space: nowrap;
  font-weight: 400;
}

.user__details span:not(:last-child) {
  margin-bottom: 0.5rem;
}

.user__details span i {
  color: var(--blue);
  font-size: 2rem;
  font-weight: 500;
  margin-right: 0.5rem;
}

/* --------------------- Posts --------------------- */

#posts .btn-link {
  padding: 0;
}

#posts .btn-link i {
  font-size: 1.8rem;
}

#posts .user-name {
  padding: 2rem 0;
  font-size: 3rem;
}

.post {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(187, 186, 186, 0.4);
  padding: 3rem;
  margin-bottom: 3rem;
  transition: all 0.5s;
  cursor: pointer;
}

.post:hover {
  box-shadow: 0 0 1rem rgba(187, 186, 186, 0.6);
}

.post__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.post__body {
  font-size: 1.6rem;
}

/* --------------------- Footer --------------------- */
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    padding: .5rem 0;
}

/* --------------------- Media Queries --------------------- */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .post {
    padding: 1.5rem;
  }
}
